:root{
  --font:"Montserrat", sans-serif;
  --blanco:#fff;
  --negro:#222;
  --gris:#e2e2e2;
}


body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
<<<<<<< HEAD
}

=======
  
}
>>>>>>> 0c64fc2e5e6088a5df12b7bae8b6e613703581d2
